/* Default styles of container */
/* <!-- style="position: absolute; width: 100%; height: 100%" --> */

body {
   padding: 0;
   margin: 0;
   /* Add a background color to match the chart */
   /* background-color: #222; */
   
}

#container,
#bar,
#baseline,
#histogram {
   width: 100%;
   height: 600px;
   /* margin: 2rem 0; */
   

   /* position: absolute;
   top: 10vh;
   right: 10vw; */
   
}

h2 {
   margin: 4rem 0 1rem;
   text-align: center;
}



/* Styles for attribution message */
    .lw-attribution {
        position: absolute;
        left: 0px;
        top: 0px;
        z-index: 3; /* place above the charts */
        padding: 10px 0px 0px 12px;
        font-family: "Roboto", sans-serif;
        font-size: 0.8em;
    }
    .lw-attribution a {
        cursor: pointer;
        color: rgb(54, 116, 217);
        opacity: 0.8;
    }
    .lw-attribution a:hover {
        color: rgb(54, 116, 217);
        opacity: 1;
    }